@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1200px) {

    .container {
        max-width: 1140px;
    }

}

@media only screen and (max-width: 992px) {

    .container {
        max-width: 960px;
    }

}

@media only screen and (max-width: 768px) {

    .container {
        max-width: 720px;
    }

}

@media only screen and (max-width: 576px) {

    .container {
        max-width: 540px;
    }
    
}